<div style="height: 100%; width: 100%">
	<div data-dojo-type="dijit/layout/TabContainer"
		data-dojo-attach-point="tabContainer"
		style="width: 100%; height: 100%;">
		<div data-dojo-type="dijit/layout/ContentPane"
			data-dojo-attach-point="overviewTab"
			title="${customer.customerOverview}" data-dojo-props="selected:true">
			<div data-dojo-type="dijit/layout/BorderContainer"
				data-dojo-attach-point="customerMainBorderContainer"
				data-dojo-props="style:{height: '100%', width: '100%'}">
				<div data-dojo-type="dijit/layout/ContentPane"
					data-dojo-attach-point="customerMainTopPane"
					data-dojo-props="region:'top', style:{height: '70px', width: '100%'} ">
					<div data-dojo-type="i5dojo/widget/customer/CustomerFilter"
						data-dojo-attach-point="customerFilter"
						data-dojo-props="style:{width: '100%',height:'100%'}"></div>
				</div>
				<div data-dojo-type="dijit/layout/ContentPane"
					data-dojo-attach-point="customerListPane"
					data-dojo-props="region:'center', style:{width: '100%',height:'100%'}">
					<div data-dojo-type="i5dojo/widget/customer/CustomerList"
						data-dojo-attach-point="customerlist"
						data-dojo-props="style:{width: '100%',height:'100%'}"></div>
				</div>
				<div data-dojo-type="dijit/layout/ContentPane"
					data-dojo-attach-point="customerMainButtonPane"
					data-dojo-props="region:'bottom', style:{width: '100%',height:'35px'}">
					<button data-dojo-type="dijit/form/Button"
						data-dojo-attach-point="addButton" type="button">
						${common.addNew}</button>
				</div>
			</div>
		</div>

	</div>
</div>