<div style="height:80%; width : 80%">
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="customerDetailTab" data-dojo-props="style:{width: '100%', height : '100%'}">
		<div data-dojo-attach-point="customerDetailForm" encType="multipart/form-data"
			data-dojo-type="dijit/form/Form" method="post" data-dojo-props="style:{width: '100%', height : '100%'}">
			<div data-dojo-type="dojox/layout/TableContainer"
				data-dojo-attach-point="tableContainer" data-dojo-props="spacing:10, cols:2, style:{width: '100%', height : '100%'}">
				<div data-dojo-attach-point="code" name="code"
					title="${customer.code}:" data-dojo-type="dijit/form/TextBox" data-dojo-props="style:{width: '100%'}"></div>
				<div data-dojo-attach-point="company" name="company"
					title="${customer.company}:" data-dojo-type="dijit/form/TextBox" data-dojo-props="style:{width: '100%'}"></div>
				<div data-dojo-attach-point="lastName" name="lastName"
					title="${customer.lastName}:" data-dojo-type="dijit/form/TextBox" data-dojo-props="style:{width: '100%'}"></div>
				<div data-dojo-attach-point="firstName" name="firstName"
					title="${customer.firstName}:" data-dojo-type="dijit/form/TextBox" data-dojo-props="style:{width: '100%'}"></div>
				<div data-dojo-attach-point="address" name="address"
					title="${customer.address}:" data-dojo-type="dijit/form/TextBox" colspan="2" data-dojo-props="style:{width: '100%'}"></div>
				<div data-dojo-attach-point="zipCode" name="zipCode"
					title="${customer.zipCode}:" data-dojo-type="dijit/form/TextBox" data-dojo-props="style:{width: '100%'}"></div>
				<div data-dojo-attach-point="city" name="city"
					title="${customer.city}:" data-dojo-type="dijit/form/TextBox" data-dojo-props="style:{width: '100%'}"></div>
				<div data-dojo-attach-point="phone" name="phone"
					title="${customer.phone}:" data-dojo-type="dijit/form/TextBox" data-dojo-props="style:{width: '100%'}"></div>
				<div data-dojo-attach-point="mobile" name="mobile"
					title="${customer.mobile}:" data-dojo-type="dijit/form/TextBox" data-dojo-props="style:{width: '100%'}"></div>
				<div data-dojo-attach-point="eMail" name="eMAil"
					title="${customer.eMail}:" data-dojo-type="dijit/form/TextBox" data-dojo-props="style:{width: '100%'}"></div>
				<div data-dojo-attach-point="website" name="website"
					title="${customer.website}:" data-dojo-type="dijit/form/TextBox" data-dojo-props="style:{width: '100%'}"></div>
				<div data-dojo-attach-point="language" name="language"
					title="${customer.language}:" data-dojo-type="dijit/form/TextBox" data-dojo-props="style:{width: '100%'}"></div>
				<div data-dojo-attach-point="discount" name="discount"
					title="${customer.discount}:" data-dojo-type="dijit/form/TextBox" data-dojo-props="style:{width: '100%'}"></div>
				<div data-dojo-attach-point="active" name="active"
					title="${customer.active}:" data-dojo-type="dijit/form/CheckBox" colspan="2"></div>
				<div data-dojo-attach-point="notes" name="notes"
					title="${customer.notes}:" data-dojo-type="dijit/form/Textarea" colspan="2" data-dojo-props="style:{width: '100%'}"></div>
					
			</div>
		</div>
		<div data-dojo-attach-point="okButton"
			data-dojo-type="dijit/form/Button" data-dojo-props="label:'OK'" data-dojo-props="style:{width: '100%', height : '100%'}"></div>
	</div>
</div>